* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto-Light';
    color: #000000;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 30px;
    height: 28px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../img/preloader.gif') no-repeat 50% 50%;
    margin: -14px 0 0 -15px;
}

.wrap {
    margin: auto;
    width: 1280px;
    background: #f4f9fd;
}
ul {
    padding-left: 0px;
}
h1 {
    font-family: 'Roboto-Light';
    font-size: 24px;
    color: #000000;
}
h5 {
    font-size: 14px;
    color: #7d7d7d;
    font-family: 'HelveticaNeueCyr-Medium';
}
p {
    font-family: 'Roboto-Light';
    font-size: 17px;
}
p {
    margin: 0px;
    padding: 0px;
}
#navpanel {
    background: #000;
    color: #fff;
}

.ui-content {
    padding: 0px;
}
.nav_container {
    text-align: right;
    background: #fff;

}
.nav_container .push {
    margin: 16px 12px 0px 0px;
    float: right;
    width: 14px;
    height: 14px;
    overflow: hidden;
}
.nav_container .push span {
    display: block;
    height: 1px;
    border-top: 1px solid #3D4B63;
    border-bottom: 1px solid #9EA4B0;
    margin-bottom: 4px;
}
.nav_container .logo {
    text-align: center;
    height: 46px;
    width: 120px;
    margin: auto;
}
.nav_container .logo img {
    height: 46px;
}
.search_container {
    float: left;
    position: relative;
    margin-left: 6px;
}
.search_container .input_show {
    background: url(../img/search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    display: block;
    border: none;
    outline: none;
    margin-top: 13px;
    margin-left: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.search_container form {
    position: absolute;
    z-index: 1;
    display: none;
}
.search_container .ui-input-text, .ui-input-search {
    border-color: transparent;
    padding-right: 0;
    margin: 0;
    margin-top: 8px;
    background: rgba(255,255,255,.95);
}
.search_container .ui-input-text, .ui-input-search input {
    width: 240px;
    height: 24px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 2px;
    font-size: 14px;
    font-family: 'Roboto-Light';
    box-shadow: 0 1px 1px #C5C5C5;
    position: relative;
    z-index: 1;
}
.search_container .ui-input-text, .ui-input-search input:focus {
    box-shadow: 0 1px 1px #C5C5C5;
}
.search_container .ui-input-search:after {
    content: "";
    position: absolute;
    left: .3125em;
    top: 50%;
    margin-top: -7px;
    background: url(../img/search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    opacity: 1;
}
.search_container .ui-input-clear {
    display: none;
}
.search_container .ui-icon-carat-r:after {
    content: none;
}
.search_container .ui-listview.ui-listview-inset {
    position: absolute;
    top: 38px;
    z-index: 555;
    background: rgba(255,255,255,.95);
    box-shadow: 0 1px 1px rgba(0,0,0,.4);
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}
.search_container .ui-listview li a {
    display: block;
    width: 240px;
    min-height: 58px;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    white-space: normal;
    line-height: 18px;
}
.search_container .ui-listview li a:hover {
    background: #E7F4FA;
    border-top-color: #E4E8EA;
    border-bottom-color: #E4E8EA;
}
.search_container .ui-listview li a .img {
    float: left;
    width: 46px;
    height: 46px;
    margin-top: 6px;
}
.search_container .ui-listview li a .img img {
    width: 100%;
    height: 100%;
}
.search_container .ui-listview li a .name {
    font-size: 13px;
    font-family: 'Roboto-Medium';
    float: left;
    padding-top: 5px;
    padding-left: 10px;
    width: 173px;
    color: #000;
}

.black_btn {
    background: #262626;
    height: 46px;
    text-align: center;
    border: none;
    color: #fff;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    border-radius: 5px;
}
/* Text banner
-----------------------------------------------------------------------------------------*/
.top_title {
    font-size: 24px;
    color: #6c7983;
    text-align: center;
    padding: 20px 40px;
}
/* Main slider
-----------------------------------------------------------------------------------------*/
.swiper-main {
    background: #fff;
    width: 100%;
    height: 268px;
}
.device {
    position: relative;
}
.device .arrow-right {
  background: url(../img/carousel/next.png) no-repeat;
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.device .arrow-left {
  background: url(../img/carousel/previous.png) no-repeat;
  position: absolute;
  left: 6px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.swiper-main .swiper-slide {
    position: relative;
    height: 100%;
    width: 555px;
    height: 268px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-slide .title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    color: #000;
    padding-bottom: 15px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,.95) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,.95))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,.95) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,.95) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,.95) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,.95) 100%); /* W3C */

}
.swiper-slide .title .name {
    font-size: 20px;
    font-family: 'Roboto-Medium';
}
.swiper-slide .title .info {
    font-size: 13px;
    font-family: 'Roboto-Regular';
}




/* Carousel
-----------------------------------------------------------------------------------------*/
.carousel_container {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.carousel_container .swiper-carousel {
    height: 70px;
}
.carousel_container p {
    font-size: 16px;
    font-family: 'HelveticaNeueCyr-Medium';
    margin-bottom: 10px;
}
.carousel_container .device {
    padding-left: 24px;
    padding-right: 24px;
    width: 580px;
    margin: auto;
}
.carousel_container .device .arrow-left {
    left: 0;
}
.carousel_container .device .arrow-right {
    right: 0;
}
.carousel_container .swiper-carousel .swiper-slide {
    width: 66px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Tabs
-----------------------------------------------------------------------------------------*/
.top_container {
    background: #fff;
    padding: 10px 9px 8px;
    border-top: 2px solid #e5e8ea;
    border-bottom: 2px solid #e5e8ea;
}
.tabs {
    background: none;
}
#tabs .tab_controls,
#tabs .tab_controls ul {
    height: 40px;
}
#tabs .tab_controls ul li:last-child a {
    border-left: none;
}
#tabs .tab_controls ul li:nth-child(2) a {
    border-left: none;
}
#tabs .tab_controls li a {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    text-decoration: none;
    color: #4a5a74;
    outline: none;
    border: 1px solid #D8DFE4;
    padding-top: 10px;
    padding-bottom: 10px;
}
#tabs .tab_controls li a.ui-btn-active {
    background: #006CF5;
    border-color: transparent;
    color: #fff;

}
/* Filter
-----------------------------------------------------------------------------------------*/
.wrap .filter .category ul,
.wrap .filter .version ul,
.wrap .filter .genre ul {
    margin: 0;
    padding-left: 0;
    margin-top: 2px;
}
.wrap .filter .category ul {
    margin-top: 10px;
}
.wrap .filter .category ul li,
.wrap .filter .version ul li,
.wrap .filter .genre ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.wrap .filter .category ul li a,
.wrap .filter .version ul li a,
.wrap .filter .genre ul li a {
    display: block;   
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto-Regular';
}
.wrap .filter .category ul li.active a,
.wrap .filter .version ul li.active a,
.wrap .filter .genre ul li.active a,
.wrap .filter .category ul li:hover a,
.wrap .filter .version ul li:hover a,
.wrap .filter .genre ul li:hover a {
    color: #1274ef;
    border-color: #1274ef;
}
.wrap .filter .category ul li.active a:after {
    content: '';
    background: url(../img/close.png);
    width: 7px;
    height: 8px;
    display: inline-block;
    margin-top: 2px;
    margin-left: 4px;
}
.wrap .filter .category ul li:last-child {
    margin-right: 0px;
}
.wrap .filter .category ul li a {
     padding: 4px 4px 3px;
}
.wrap .filter .category ul li a img {
    margin-left: 5px;
    display: none;
}
.wrap .filter .version ul li a,
.wrap .filter .genre ul li a {
    padding: 4px 5px 3px; 
}
/* For android
-----------------------------------------------------------------------------------------*/

.for_android .filter .category ul {
    margin-top: 12px;
}
.for_android .filter .version ul,
.for_android .filter .genre ul {
    margin: 0;
    padding-left: 0;
    margin-top: 10px;
}
.for_android .filter .category ul li,
.for_android .filter .version ul li,
.for_android .filter .genre ul li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}
/* Content
-----------------------------------------------------------------------------------------*/
.wrap .content {
    padding: 10px 0px 15;
    border-top: 2px solid #e5e8ea; 
}
.wrap .content .apps {
    padding: 10px 10px 5px 10px;
    border-top: 2px solid #e5e8ea;
    background: #fff;
}
.wrap .content .apps .name .img_container {
    float: left;
    margin: 0px 12px 5px 0px;
}
.wrap .content .apps .name p.title {
    color: #000000;
    font-family: 'Roboto-Light';
    font-size: 24px;
    color: #000000;
}
.wrap .content .apps .name .img_container img {
    width: 72px;
    height: 72px;
}
.wrap .content .apps .name p {
    font-size: 11px;
    color: #909090;
}
.wrap .content .apps .apps_container .tr {
    display: table;
}
.wrap .content .apps .apps_container .img_container {
    padding-right: 15px;
    display: table-cell;
    width: 347px;
    padding-top: 5px;
}

.wrap .content .apps .apps_container p span {
    font-family: 'Roboto-Medium';
}
.wrap .content .apps .apps_container .describe {
    display: table-cell;
    vertical-align: top;
}
.wrap .content .apps .apps_container .describe p {
    line-height: 24px;
}
.wrap .content .apps .apps_container .describe ul {
    padding-left: 0px;
    margin-top: 10px;
}
.wrap .content .apps .apps_container .describe ul li {
    margin-left: 17px;
    line-height: 25px;
    font-size: 14px;
}
.wrap .content .apps .apps_container .describe ul li:first-child {
    list-style-type: none;
    margin-left: 0px;
}
.wrap .content .apps .apps_container .apps_bottom {
    width: 100%;
    padding: 10px 0px 7px;
    width: 100%;
    height: 45px;
}
.wrap .content .apps .apps_container .apps_bottom .date {
    float: left;
    margin-top: 7px;
    width: 110px;
}
.wrap .content .apps .apps_container .apps_bottom .date img {
    float: left;
    margin-right: 5px;
}
.wrap .content .apps .apps_container .apps_bottom .date p {
    font-size: 12px;
    color: #a2a5a7;
}
.wrap .content .apps .apps_container .apps_bottom .social {
    float: right;
}
.wrap .content .apps .apps_container .apps_bottom .social .country,
.wrap .content .apps .apps_container .apps_bottom .social .type {
    float: left;
}
.wrap .content .apps .apps_container .apps_bottom .social .country {
    margin-right: 10px;
}
.wrap .content .apps .apps_container .apps_bottom .social .type img {
    float: left;
    margin-right: 5px;
}
.wrap .content .apps .apps_container .apps_bottom .social .type p {
    font-size: 9px;
    color: #535353;
    float: left;
    text-align: center;
}
.wrap .content .apps .apps_container .apps_bottom .social .type p span {
    font-size: 15px;
    display: block;    
}
/* Navpanel
--------------------------------------------------------------------------------*/
#navpanel {
    background: #fff;
    border: 2px solid #e5e8ea;
    border-right: none;
    padding: 7px 10px 10px;
}
#navpanel .user .avatar {
    float: left;
    margin-right: 5px;
    margin-bottom: 12px;
}
#navpanel .user .avatar,
#navpanel .user .avatar img {
    border-radius: 5px;
    width: 45px;
    height: 45px;
}
#navpanel .user p {
    font-size: 18px;
    color: #000000;
}
#navpanel .user p img {
    margin-right: 4px;
    margin-bottom: -2px;
}
#navpanel .user p  span {
    font-size: 13px;
}
#navpanel ul.right_main_nav {
    margin-bottom: 5px;
}
#navpanel ul.right_main_nav li {
    list-style-type: none;
    margin-bottom: 5px;
    border-radius: 5px;
}
#navpanel ul.right_main_nav li a {
    display: block;
    padding: 8px 0px 6px;
    text-align: center;
    color: #879aa9;
    text-decoration: none;
    border-radius: 5px;
    background: #e5ebf5;
    font-size: 13px;
    font-family: 'HelveticaNeueCyr-Roman';
}
#navpanel ul.right_main_nav li.active a,
#navpanel ul.right_main_nav li a:hover {
    background: #eeeeee;
    color: #b0b1b1;
}
#navpanel ul.right_second_nav {
    margin-bottom: 20px;
}
#navpanel ul.right_second_nav li {
    list-style-type: none;
    margin-bottom: 12px;
    width: 100%;
}
#navpanel ul.right_second_nav li:last-child,
#navpanel .top_apps ul li:last-child {
    width: 80px;    
    margin: auto;
    font-family: 'Roboto-Medium';
    font-size: 13px;
}
#navpanel ul.right_second_nav li:last-child a,
#navpanel .top_apps ul li:last-child a {
    background: #e3e3e3;
    color: #777777;
    text-align: center;
    padding: 0px; 
    height: 25px;
    padding-top: 5px;
}
#navpanel ul.right_second_nav li a {
    display: block;
    padding-left: 28px;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}
#navpanel ul.right_second_nav li a img {
    float: left;
    margin-right: 20px;
}
#navpanel h5 {
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
}
#navpanel .app_week .app .game_icon {
    float: left;
    margin-right: 5px;
}
#navpanel .app_week .app .game_icon .icon {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
}
#navpanel .app_week .app .game_icon .rate  {
    text-align: center;
    color: #000000;
    font-size: 12px;
    font-family: 'Roboto-Medium';
}
#navpanel .app_week .app .game_icon .rate img {
    margin-right: 5px;
}
#navpanel .app_week .app p {
    color: #000000;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    margin-bottom: 7px;
}
#navpanel .app_week .app p span {
    color: #909090;
}
#navpanel .app_week .app a.load {
    width: 100px;
    display: block;
    text-align: center;
    text-align: center;
    text-decoration: none;
    color: #4c4c4c;
    font-size: 14px;
    border: 1px solid #4c4c4c;
    padding: 8px 0px;
    float: right;
    border-radius: 4px;
    font-family: 'Roboto-Medium';
}
#navpanel .app_week .app a.load:hover {
    background: #000;
    color: #fff;
}
#navpanel .top_apps ul {
    padding: 0px;
    margin-right: 0px;
}
#navpanel .top_apps ul li {
    list-style-type: none;
    width: 100%;
    margin-bottom: 10px;
}
#navpanel .top_apps ul li a {
    text-decoration: none;
    display: block;
}
#navpanel .top_apps ul li a  img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
    border-radius: 4px;
}
#navpanel .top_apps ul li a p {
    font-size: 13px;
    font-family: 'Roboto-Medium';
    color: #000;
    padding-top: 3px;
}
#navpanel .top_apps ul li a p span {
    font-size: 11px;
    color: #909090;
    font-family: 'Roboto-Regular';
}
/* .instruction_inner
-----------------------------------------------------------------------------------*/
.instruction {
    margin-top: 12px;
    border: 2px solid #e5e8ea;
    padding: 12px 8px 15px;
    background: #fff;
}
.instruction p {
    font-family: 'Roboto-Regular';
    line-height: 25px;
}
.instruction .title_create {
    margin-bottom: 15px;
}
.instruction .title_create img {
    margin-right: 15px;
    float: left;
}
.instruction .title_create p {
    font-size: 24px;
    line-height: 85px;
    font-family: 'Roboto-Light';
}
.instruction .info {
    margin-bottom: 30px;
}
.instruction .blue_stacks p {
    margin-bottom: 15px;
}
.instruction .blue_stacks img {
   width: 100%;
   margin-bottom: 18px;
}
.else_instruction {
    border: 2px solid #e5e8ea;
    padding: 22px 8px 10px;
    background: #fff;
}
.else_instruction .title {
    margin-bottom: 18px;
}
.else_instruction .title p {
    text-align: center;
    font-family: 'Roboto-Regular';
    font-size: 24px;
}
.else_instruction ul {
    padding-left: 0px;
}
.else_instruction ul li {
    list-style-type: none;
    margin-bottom: 20px;
    width: 100%;
    display: table;
}
.else_instruction ul li .img_container {
    padding-right: 24px;
    display: table-cell;
    width: 85px;
}
.else_instruction ul li a {
    font-size: 24px;
    font-family: 'Roboto-Light';
    color: #000;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
}
.else_instruction ul li a:hover {
    text-decoration: underline;
}
/* Instruction
--------------------------------------------------------------------------------*/
.instruction_container {
    padding: 12px 6px 10px;
    background: #fff;
}
.instruction_container ul {
    padding-left: 0px;
}
.instruction_container ul li {
    list-style-type: none;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}
.instruction_container ul li .img_container {
    padding-right: 18px;
    display: table-cell;
    width: 88px;
}
.instruction_container ul li .right_part {
    display: table-cell;
    vertical-align: top;
}
.instruction_container ul li .instruction_title a {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    display: block;
}
.instruction_container ul li .instruction_title a:hover {
    text-decoration: underline;
}
.instruction_container ul li .bottom {
    margin-top: 10px;
    border-bottom: 1px solid #d3d2d2;
    padding-bottom: 7px;
}
.instruction_container ul li .bottom p {
    font-size: 12px;
    color: #8e8c8c;
    font-family: 'Roboto-Medium';
    margin-top: -1px;
}
.instruction_container ul li .bottom .user,
.instruction_container ul li .bottom .date,
.instruction_container ul li .bottom .look {
    margin-right: 15px;
    float: left;
}
.instruction_container ul li .bottom .look {
    margin-right: 0px;
}
.instruction_container ul li .bottom .user img,
.instruction_container ul li .bottom .date img,
.instruction_container ul li .bottom .look img {
    float: left;
    margin-right: 4px;
}
.instruction_container ul li .bottom .user {    
    min-width: 100px;
}
.instruction_container ul li .bottom .date {
    min-width: 80px;
}
.instruction_container ul li .bottom .look {
    min-width: 45px;
}


/* Contacts
--------------------------------------------------------------------------------*/
.contacts_container {
    border-top: 2px solid #E4E8EA;
    background: #fff;
    padding: 10px;
}
.contacts_container .mail {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Roboto-Regular';
}
.contacts_container p {
    font-size: 14px;
    font-family: 'Roboto-Regular';
    margin-top: 6px;
    line-height: 20px;
}
.contacts_container .ui-input-text {
    border: none;
    border-bottom: 1px solid #AFAFAF;
    background: #EEEEEE;
    border-radius: 4px;
    padding: 0;
}
.contacts_container .ui-input-text input {
    padding: 6px 8px;
    color: #8e8d8d;
    font-size: 14px;
}
.contacts_container .input_container {
    width: 50%;
    float: left;
    padding-left: 7px;
    margin-bottom: 2px;
}
.contacts_container .input_container:first-child {
    padding-right: 7px;
    padding-left: 0;
}
.contacts_container textarea.ui-input-text {
    resize: none;
    padding: 6px 8px;
    color: #8e8d8d;
    font-size: 14px;
}





/* Error page
-----------------------------------------------------------------------------------------*/
.error_page {
    background: #DF0019
}
.error_page .wrap {
    background: none;
    padding-bottom: 100px;
}
.error_page .wrap .nav_container {
    background: none;
}
.error_page .wrap .nav_container .logo img {
    width: auto;
    height: auto;
    margin-top: 10px;
}
.error_page .nav_container .push span {
    border-top: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.error_page .search_container .input_show {
    background: url(../img/404_search_icon.png);
    background-position: center center;
    background-repeat: no-repeat;
}
.error_page .error_text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.error_page .error {
    font-size: 100px;
    color: #fff;
    line-height: 90px;
    margin-top: 30px;
}
.error_page p {
    font-size: 36px;
    color: #fff;
    line-height: 30px;
}
.error_page p.small {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.error_page .error_menu {
    text-align: center;
    margin-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.error_page .error_menu a {
    padding: 7px 11px 6px;
    margin-left: 9px;
    margin-right: 9px;
    display: inline-block;
    background: #fff;
    font-size: 18px;
    color: #ce000a;
    font-family: 'Roboto-Regular';
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 9px;
}


/* Item page
-----------------------------------------------------------------------------------------*/


.item_page .wrap {
    background: #fff;
}
.item_page .item_banner img {
    width: 100%;
}
.item_page .item_title {
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto-Regular';
}
.item_page .device {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E4E8EA;
    padding-right: 30px;
    padding-left: 10px;
    position: relative;
}
.item_page .device .arrow-left {
    display: none;
}
.item_page .swiper-container {
    width: 100%;
    margin-right: 50px;
}
.item_page .swiper-container,
.item_page .swiper-slide {
    height: 172px;
}
.item_page .swiper-slide {
    width: 243px;
    padding-left: 3px;
    padding-right: 3px;
}
/* main_item
------------------------------------*/
.item_page .main_item {
    padding: 40px 10px;
    border-bottom: 2px solid #e5e8ea;
}
.item_page .main_item .item_table {
    display: table;
    width: 100%;
}
.item_page .main_item .img_container {
    display: table-cell;
    width: 135px;
    padding-right: 20px;
}
.item_page .main_item .img_container img {
    width: 100%;
}
.item_page .main_item .item_content {
    display: table-cell;
    vertical-align: top;
}
.item_page .main_item .item_content .title {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Roboto-Regular';
}
.item_page .main_item .item_content .designer {
    font-size: 14px;
    color: #5d5d5d;
}
.item_page .main_item .item_content ul {
    margin-top: 10px;
    margin-bottom: 10px;
}
.item_page .main_item .item_content ul li {
    float: left;
    margin-right: 12px;
    position: relative;
    list-style-type: none;
    font-family: 'Roboto-Regular';
    font-size: 11px;
}
.item_page .main_item .item_content ul li:after {
    content: url(../img/right_arrow.png);
    position: absolute;
    top: -2px;
    right: -10px;
}
.item_page .main_item .item_content ul li:last-child:after {
    content: none;
}
.item_page .main_item .item_content .social_item .country,
.item_page .main_item .item_content .social_item .type {
    float: left;
}
.item_page .main_item .item_content .social_item  img {
    height: 13px;
    width: 13px;
}
.item_page .main_item .item_content .social_item .type img {
    width: 15px;
    height: 15px;
}
.item_page .main_item .item_content .social_item .country {
    margin-right: 10px;
}
.item_page .main_item .item_content .social_item .type img {
    float: left;
    margin-right: 5px;
}
.item_page .main_item .item_content .social_item .type p {
    font-size: 13px;
    color: #535353;
    float: left;
    text-align: center;
    font-family: 'Roboto-Regular';
}
/* overview
-----------------------------------*/
.item_page .overview {
    padding: 25px 10px 20px;
}
.item_page .overview p.title {
    font-size: 18px;
    font-family: 'Roboto-Medium';
    margin-bottom: 10px;
}
.item_page .overview p.info {
    font-size: 14px;
    margin-bottom: 15px;
}
.item_page .overview a {
    width: 150px;
    display: block;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    color: #8f8f8f;
}







/* changes
------------------------------------*/
.item_page .changes {
    padding: 15px 8px;
    background: #fff;
}
.item_page .changes p.change_title {
    font-size: 18px;
    margin-bottom: 20px;
}
.item_page .changes p {
    font-size: 14px;
    margin-bottom: 4px;
}
.item_page .changes p span {
    font-family: 'Roboto-Medium';
}
/* your_device
-----------------------------------*/
.item_page .your_device {
    padding: 15px 8px 12px;
    background: #ebebeb;
}
.item_page .your_device p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.item_page .your_device .ui-input-text {
    border: none;
}
.item_page .your_device input {
    padding: 10px 9px 6px;
    width: 100%;
    border-radius: 3px;
    border-bottom: 1px solid #a1a1a1;
    outline: none;
    background: #F9F9F9;
    box-shadow: 1px 1px #D2D2D2,
                -1px 1px  #D2D2D2;
}
.your_device input:focus {
     box-shadow: 0px 0px 0px 1px #ebebeb;
}
/* down_load
----------------------------------*/
.item_page .down_load {
    padding-top: 15px;
    background: #fff;
}
.item_page .down_load p.load_title {
    font-family: 'Roboto-Regular';
    font-size: 24px;
    padding-left: 8px;
}
.item_page .down_load .load_item {
    padding: 10px 8px 18px;
    width: 100%;
    border-bottom: 1px solid #d9dfe4;
}
.item_page .down_load .load_item a {
    display: table;
}
.item_page .down_load .load_item .img_container {
    width: 75px;
    padding-right: 13px;
    display: table-cell;
}
.item_page .down_load .load_item .google_play {
    position: relative;
}
.item_page .down_load .load_item .google_play:after {
    content: '';
    width: 26px;
    height: 28px;
    background: url(../img/google_play.png);
    background-size: cover;
    position: absolute;
    right: -7px;
    bottom: -2px;
}
.item_page .down_load .load_item .img_container img {
    border-radius: 8px;
    height: 75px;
    display: block;
}
.item_page .down_load .load_item .load_content {
    padding: 8px 12px;
    border-radius: 8px;
    display: table-cell;
    width: 100%;
    vertical-align: top;
}
.item_page .down_load .load_content .sourse {
    font-size: 24px;
}
.item_page .down_load .load_item a {
    text-decoration: none;
}
.item_page .down_load .load_content.apk {
    background: #b3c833;
}
.item_page .down_load .load_content.apk .sourse {
    color: #fff;
}
.item_page .down_load .load_content.apk ul li p {
    font-size: 12px;
    color: #fff;
    margin-top: -2px;
}
.item_page .down_load .load_content.apk ul li img {
    float: left;
    margin-right: 3px;
}
.item_page .down_load .load_content.apk ul li:last-child {
    width: 75px;
}
.item_page .down_load .load_content.google {
    background: #e7e7e7;
}
.item_page .down_load .load_content.google .sourse {
    color: #000000;
    margin-bottom: 10px;
}
.down_load .load_item .load_content.google .crossing {
    font-size: 13px;
    color: #9a9a9a;
}
.item_page .down_load .load_content.google .crossing span {
    font-family: 'Roboto-Medium';
}
.item_page .down_load .load_content.apk ul {
    margin-bottom: 0px;
}
.item_page .down_load .load_content.apk ul li {
    list-style-type: none;
    float: left;
    margin-right: 8px;
    min-width: 25px;
}
/* kesh
----------------------------------*/
.item_page .kesh {
    padding: 12px 8px 20px;
    text-align: center;
}
.item_page .kesh .kesh_title {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Roboto-Regular';
}
.item_page .kesh .btn_list {
    margin-bottom: 2px;
    margin-top: 0;

}
.item_page .kesh .btn_list li {    
    background: url(../img/kesh.png) left center no-repeat;
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 12px;
}
.item_page .kesh .btn_list li a {
    font-size: 12px;
    font-family: 'Roboto-Regular';
    text-decoration: none;
    color: #383838;
    padding: 15px 30px 15px 40px;
    display: block;
    border-radius: 3px;
}
.item_page .kesh .btn_list li:first-child a {
    background:url(../img/kesh.png) left center no-repeat, #d8d8d8;
}
.item_page .kesh .btn_list li:nth-child(2) a {
    background:url(../img/kesh.png) left center no-repeat, #cfd9e2;
}
.item_page .kesh .btn_list li:nth-child(3) a {
    background:url(../img/kesh.png) left center no-repeat, #dcecc5;
}
.item_page .kesh .btn_list li:nth-child(4) a {
    background:url(../img/kesh.png) left center no-repeat, #ddcfe2;
}
.item_page .kesh p.question {
    width: 170px;
    margin: auto;
    margin-bottom: 9px;
    font-size: 14px;
    font-family: 'Roboto-Regular';
}
.item_page .kesh p.question img {
    float: left;
    margin-right: 7px;
}
.item_page .kesh .instruct {
    margin: 0;
    font-size: 13px;
    font-family: 'Roboto-Regular';
}
.item_page .kesh .instruct li {
    margin-left:3px;
    margin-right: 7px;
    margin-top: 5px;
    display: inline-block;
}
/* social
----------------------------------*/
.item_page .social {
    padding: 20px 0px 20px;
    background: #ebebeb;
    text-align: center;
}
.item_page .social .rate {
    width: auto;
    margin: auto;
    margin-bottom: 35px;
}
.item_page .social .rate a,
.item_page .social .rate p {
    display: inline-block;
    vertical-align: top;
}
.item_page .social .rate a img {
    width: 100%;
}
.item_page .social .rate p {
    margin: 0px 45px;
    line-height: 75px;
    font-size: 36px;
}
.item_page .social ul {
    margin-bottom: 0;
}
.item_page .social ul li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.item_page .social ul li a {
    display: block;
}
.item_page .social ul li img {
    width: 100%;
}
.item_page .social ul li a:hover {
    opacity: 0.8;
}
/* look_with
--------------------------------------------------------------------------------*/
.item_page .look_with {
    padding-top: 20px;
    text-align: center;
    border-bottom: 1px solid #e5e8ea;
}
.item_page .look_with .item_title {
    margin-bottom: 25px;
}
.item_page .look_with ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    margin-left: 11px;
    margin-bottom: 20px;
    width: 118px;
    vertical-align: top;
}
.item_page .look_with ul li a {
    text-decoration: none;
    color: #000000;
    display: block;
}
.item_page .look_with ul li a p {
    font-size: 18px;
    margin-top: 10px;
}
/* Add comment
----------------------------------*/
.item_page .add_comment {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #E4E8EA;
    padding-left: 10px;
    padding-right: 10px;
}
.item_page .add_comment form {
    margin-top: 20px;
}
.item_page .add_comment .ui-input-text {
    border: none;
    border-bottom: 1px solid #AFAFAF;
    background: #EEEEEE;
    border-radius: 4px;
    padding: 0;
}
.item_page .add_comment .ui-input-text input {
    padding: 9px 8px;
    color: #8e8d8d;
    font-size: 14px;
}
.item_page .add_comment .input_container {
    width: 100%;
    padding-right: 195px;
}
.item_page .add_comment textarea.ui-input-text {
    resize: none;
    padding: 6px 8px;
    color: #8e8d8d;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.item_page .add_comment .code {
    float: left;
}
.item_page .add_comment .code .ui-input-text {
    margin: 0;
    margin-left: 10px;
}
.item_page .add_comment .code input {
    width: 143px;
}
.item_page .add_comment .black_btn {
    width: 245px;
    margin: auto;
    margin-top: 20px;
}
/* Comment
----------------------------------*/
.item_page .commnets_container {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.user_comments .user {
    display: table;
    border-bottom: 1px solid #D8DFE4;
    padding-bottom: 20px;
    width: 100%;
    padding-top: 20px;
}
.user_comments .avatar {
    width: 49px;
    height: 49px;
    display: table-cell;
    vertical-align: top;
}
.user_comments .avatar img {
    width: 49px;
    height: 49px;
    margin-top: 3px;
}
.user_comments .body {
    display: table-cell;
    padding-left: 9px;
}
.user_comments .body .top {
    font-size: 13px;
    font-family: 'Roboto-Medium';
}
.user_comments .body .device_name {
    color: #777777;
    margin-left: 4px;
}
.user_comments .body .comment {
    font-size: 18px;
    margin-top: 6px;
}
.user_comments .body .date {
    color: #838383;
    font-size: 11px;
    margin-top: 3px;
}

/* User account
--------------------------------------------------------------------------------*/
.user_account .top {
    margin-top: 15px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.user_account .top .user {
    display: inline-block;
    vertical-align: top;
    width: 340px;
}
.user_account .user .left {
    float: left;
    width: 120px;
    margin-right: 20px;
}
.user_account .user .left .img_container {
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
.user_account .user .left .img_container .change_avatar {
    position: absolute;
    bottom: 1px;
    right: 1px;
    background: url(../img/change_icon.png);
    width: 19px;
    height: 17px;
}
.user_account .user .left .img_container img {
    display: block;
    width: 100%;
}
.user_account .user .left form {
    text-align: center;
    margin-top: 10px;
}
.user_account .user .left form a {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-family: 'Roboto-Regular';
    width: 22px;
    height: 20px;
    line-height: 22px;
    vertical-align: top;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}
.user_account .user .left .ui-input-text input {
    display: inline-block;
    padding: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto-Medium';
    height: 20px;
    line-height: 14px;
    min-height: 100%;
}
.user_account .user .left .ui-input-text {
    width: 30px;
    border: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.user_account .user .name {
    font-size: 30px;
    line-height: 30px;
}
.user_account .user .write_message {
    padding: 9px 8px 8px;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    line-height: 16px;
    font-family: 'Roboto-Regular';
    margin-top: 20px;
}
.user_account .user .write_message:hover {
    background: #343434;
    color: #fff;
}
.user_account .user .write_message:before {
    content: '';
    width: 19px;
    height: 18px;
    background: url(../img/write_msg_icon.png);
    float: left;
    margin-right: 8px;
}
.user_account .user .write_message:hover:before {
    content: '';
    background-position: 0 -18px;
}
.user_account .phone {
    display: inline-block;
    width: 230px;
}
.user_account .phone .img_container {
    float: left;
    width: 57px;
    margin-right: 10px;
}
.user_account .phone .img_container img {
    width: 100%;
}
.user_account .phone .name {
    font-size: 18px;
    font-family: 'Roboto-Regular';
    margin-top: 4px;
}
.user_account .phone span {
    font-size: 14px;
    font-family: 'Roboto-Regular';
    margin-top: 12px;
    display: block;
}
.user_account .phone .text_info {
    float: left;
    width: 160px;
}
.user_account .phone .ui-select {
    width: 158px;
    display: block;
    background: #F7F7F7;
    border-bottom: 1px solid #C1C6C9;
    box-shadow: 1px 1px #E3E8EC,
                -1px 1px #E3E8EC;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 12px;
}
.user_account .phone .ui-select:after {
    content: '';
    background: url(../img/select_arrow.png);
    width: 8px;
    height: 6px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
}
.user_account .phone .ui-select .ui-btn {
    padding: 0;
}
.user_account .phone .ui-select span {
    margin-top: 0;
    line-height: 36px;
    height: 34px;
    margin-left: 10px;
    margin-right: 10px;
}
.user_account .phone .ui-select span.android {
    background: url(../img/android_icon.png) no-repeat 0 50%;
}
.user_account .user_favorites {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.user_account .user_favorites .title {
    font-size: 13px;
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
.user_account .user_favorites a {
    display: inline-block;
    width: 49px;
    height: 49px;
}
.user_account .user_favorites a img {
    display: block;
    width: 100%;
}
.user_account .swiper-favorites {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 49px;
}
.user_account .user_favorites .swiper-slide {
    width: 49px;
    height: 49px;
    padding: 0 5px;
}
.user_account .comments_container {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.user_account .comments_container .title {
    font-size: 24px;
    font-family: 'Roboto-Regular';
}
.user_account .comments_container .title .positive {
    color: #6ab13f;
}
.user_account .comments_container .title .normal {
    color: #6a6a6a;
    margin-right: 10px;
    margin-left: 15px;
}
.user_account .comments_container .title .negative {
    color: #be3636;
}
.user_account .user_comments {
    border-top: 2px solid #D1D9E1;
    margin-top: 10px;
}
.user_account .user_comments .top {
    padding: 0;
    margin-top: 0;
}
/* Footer
--------------------------------------------------------------------------------*/
.footer {
    padding: 18px 0px 20px;
    background: #282828;
    text-align: center;
}
.footer img {
    margin: auto;
}





@media screen and (max-width: 1280px) {
    .wrap { width: 100%; }

}
@media screen and (max-width: 599px) {
    .carousel_container {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel_container .device {
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    .carousel_container .swiper-carousel {
        height: 47px;
    }
    .carousel_container .swiper-carousel .swiper-slide {
        width: 47px;
        height: 47px;
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
    .arrow-left,
    .arrow-right {
        width: 10px;
        height: 17px;
        margin-top: -9px;
        background-size: contain;
    }
    .carousel_container .device .arrow-left {
        left: 11px;
    }
    .carousel_container .device .arrow-right {
        right: 11px;
    }
    .top_title {
        font-size: 18px;
        line-height: 28px;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #tabs .tab_controls ul li a {
        height: 34px;
        font-size: 12px;
    }
    #tabs .tab_controls ul li:first-child {
        width: 40%;
    }
    #tabs .tab_controls ul li:nth-child(2) {
        width: 25%;
    }
    #tabs .tab_controls ul li:nth-child(3) {
        width: 35%;
    }
    .wrap .content .apps .apps_container .img_container {
        display: none;
    }
    .wrap .content .apps .apps_container .describe ul {
        display: none;
    }
    .wrap .filter .category ul {
        margin-top: 2px;
    }
    .wrap .filter .category ul li a,
    .wrap .filter .version ul li a,
    .wrap .filter .genre ul li a {
        font-size: 12px;
    }
    .for_android .filter .category ul li a,
    .for_android .filter .version ul li a,
    .for_android .filter .genre ul li a {
        border-color: transparent;
        padding-left: 3px;
        padding-right: 3px;
    }
    .for_android .filter .version ul,
    .for_android .filter .genre ul {
        margin-top: 15px;
    }
    .wrap .filter .category ul li.active a:after {
        margin-top: 4px;
    }
    .wrap .content .apps .name p.title {
        font-size: 18px;
    }
    .top_container {
        padding-left: 4px;
        padding-right: 4px;
    }
    .swiper-main {
        height: 150px;
    }
    .swiper-main .swiper-slide {
        width: 303px;
        height: 150px;
    }
    .carousel_container p {
        font-size: 14px;
    }
    .contacts_container {

    }
    .contacts_container form {
        margin-top: 12px;
    }
    .contacts_container .input_container {
        width: 100%;
        padding-left: 0;
        float: none;
    }
    .contacts_container .ui-input-text input {
        font-size: 12px;
    }
    .contacts_container .input_container:first-child {
        padding-right: 0;
    }
    .contacts_container .input_container .ui-input-text {
        margin: 4px 0;
    }
    .contacts_container textarea.ui-input-text {
        margin-top: 4px;
        font-size: 12px;
    }
    .instruction_container ul li .instruction_title a {
        font-size: 16px;
    }
    .instruction_container ul li .bottom .user,
    .instruction_container ul li .bottom .date {
        margin-right: 8px;
    }
    .instruction_container ul li .bottom p {
        font-size: 9px;
    }
    .instruction_container ul li .bottom .user {    
        min-width: 78px;
    }
    .instruction_container ul li .bottom .date {
        min-width: 60px;
    }
    .instruction_container ul li .bottom .look {
        min-width: 45px;
    }
    .instruction .info p,
    .instruction .blue_stacks p {
        font-size: 13px;
    }
    .else_instruction .title p {
        font-size: 18px;
    }
    .else_instruction ul li a {
        font-size: 16px;
    }
    .else_instruction ul li {
        margin-bottom: 9px;
    }
    .error_page p {
        font-size: 30px;
        margin-top: 4px;
     }
    .error_page p.small {
        font-size: 16px;
        line-height: 22px;
        margin-top: 12px;
    }
    .error_page .error_menu a {
        margin-left: 3px;
        margin-right: 3px;
    }
    .error_page .error_menu a.games {
        margin-right: 28px;
    }
    .item_page .item_title {
        font-size: 18px;
    }
    .item_page .main_item {
        padding: 10px;
    }
    .item_page .main_item .img_container {
        width: 82px;
        padding-right: 10px;
    }
    .item_page .main_item .item_content .title {
        font-size: 18px;
    }
    .item_page .main_item .item_content .designer {
        font-size: 13px;
    }
    .item_page .overview {
        padding: 15px 10px 10px;
    }
    .item_page .down_load .load_item {
        padding-bottom: 10px;
    }
    .item_page .down_load p.load_title {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .item_page .down_load .load_item .img_container {
        width: 47px;
        padding-right: 7px;
    }
    .item_page .down_load .load_item .img_container img {
        width: 47px;
        height: 47px;
    }
    .item_page .down_load .load_item .google_play:after {
        content: '';
        width: 19px;
        height: 20px;
    }
    .item_page .down_load .load_item .load_content .sourse {
        font-size: 18px;
    }
    .item_page .down_load .load_item .load_content.google .sourse {
        margin-bottom: 5px;
    }
    .item_page .down_load .load_item .load_content.apk ul {
        margin-top: 0;
    }
    .item_page .down_load .load_item .load_content.apk ul li {
        margin-top: 7px;
    }
    .item_page .down_load .load_content.google .sourse {
        margin-bottom: 6px;
    }
    .item_page .look_with .item_title {
        margin-bottom: 15px;
    }
    .item_page .look_with ul {
        margin: 0;
    }
    .item_page .look_with ul li {
        width: 93px;
        margin-right: 6px;
        margin-left: 2px;
    }
    .item_page .look_with ul li img {
        width: 100%;
    }
    .item_page .look_with ul li a p {
        font-size: 14px;
        margin-top: 5px;
    }
    .item_page .social {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .item_page .social .rate {
        margin-bottom: 15px;
    }
    .item_page .social .rate a {
        width: 65px;
    }
    .item_page .social .rate p {
        margin-left: 30px;
        margin-right: 30px;
    }
    .item_page .social ul li {
        width: 36px;
        margin-right: 4px;
        margin-left: 0px;
    }
    .item_page .social ul li:last-child {
        margin-right: 0;
    }
    .item_page .device {
        padding-left: 30px;
    }
    .item_page .device .arrow-left {
        display: block;
    }
    .item_page .swiper-container {
        height: 114px;
    }
    .item_page .swiper-slide {
        width: 160px;
        height: 114px;
    }
    .item_page .changes {
        padding: 8px 10px;
    }
    .item_page .changes p.change_title {
        margin-bottom: 10px;
    }
    .item_page .your_device {
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .item_page .your_device p {
        margin-bottom: 10px;
    }
    .item_page .add_comment .input_container {
        padding-right: 0;
    }
    .item_page .commnets_container {
        padding-left: 8px;
        padding-right: 8px;
    }
    .user_comments .body .comment {
        font-size: 14px;
        margin-top: 10px;
    }
    .user_comments .body .date {
        margin-top: 5px;
    }
    .item_page .kesh .kesh_title {
        margin-bottom: 7px;
    }
    .item_page .kesh .btn_list {
        margin-bottom: 2px;
        margin-top: 0;
    }
    .item_page .kesh .btn_list li {
        width: 50%;
        margin-left: -4px;
        margin-right: 0;
        padding-right: 3px;
        padding-left: 3px;
    }
    .item_page .kesh .btn_list li:nth-child(2n) {
        margin-left: -4px;
    }
    .item_page .kesh .btn_list li a {
        width: 100%;
    }
    .item_page .kesh .instruct {
        font-size: 12px;
    }
    .item_page .kesh .instruct li {
        display: block;
        text-align: center;
    }
    .user_account .top {
        padding: 0;
    }
    .user_account .top .user {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }
    .user_account .user .left {
        width: 100px;
        margin-right: 8px;
    }
    .user_account .phone {
        display: block;
        margin: auto;
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid #D1D9E1;
        width: 100%;
        text-align: center;
    }
    .user_account .phone .img_container {
        float: none;
        width: 44px;
        display: inline-block;
    }
    .user_account .phone .text_info {
        float: none;
        display: inline-block;
        text-align: left;
        vertical-align: top;
    }
    .user_account .user .write_message:before {
        margin-right: 4px;
    }
    .user_account .user .write_message {
        padding-left: 6px;
        padding-right: 6px;
        margin-top: 15px;
    }
    .user_account .phone .name {
        font-size: 16px;
        margin-top: 0;
    }
    .user_account .phone span {
        font-size: 13px;
        margin-top: 8px;
    }
    .user_account .phone .ui-select {
        margin-top: 8px;
    }
    .user_account .user_favorites {
        border-top: 2px solid #D1D9E1;
        margin-top: 0;
    }
    .user_account .comments_container {
        border-top: 2px solid #D1D9E1;
        margin-top: 0;
    }
    .user_account .user_comments {
        border: none;
        margin-top: 0;
    }
    .user_account .user_comments .user {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}